Subject: [preview] OpenEJB $openejbVersion/TomEE $tomeeVersion (staging-$build)
To: $to
From: $from

[generated email]

SVN Tag:

 $tags$tomeeVersionName/

Maven Repo:

 $staging

Binaries & Source:

 https://dist.apache.org/repos/dist/dev/tomee/staging-$build/$tomeeVersionName/

Legal:

 https://dist.apache.org/repos/dist/dev/tomee/staging-$build/legal/archives.html

Vote will be open for 72 hours or as needed.
