Subject: [VOTE] TomEE $tomeeVersion/OpenEJB $openejbVersion (staging-$build)
To: $to
From: $from

[generated email]

SVN Tag:

 release-tomee-7.0.0-M1

 git checkout -b tagged-tomee-7.0.0-M1 release-tomee-7.0.0-M1

$tags$tomeeVersionName/

Maven Repo:

 $staging

Binaries & Source:

 https://dist.apache.org/repos/dist/dev/tomee/staging-$build/$tomeeVersionName


Vote will be open for 72 hours ($endDate) or as needed.

